* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bb {
    border: 4px solid blue;
}

.flesh {
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

.flash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 60%;
    background-color: rgb(178, 56, 56);
    text-align: center;
    color: white;
    border-radius: 30px;
}

.flash-screen h1 {
    font-size: 33px;
}

.flash-screen h2 {
    font-size: 25px;
}

#btflex {
    padding: 10px 19px;
    background-color: rgb(234, 178, 23);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}



.pnb {
    width: 450px;
}

.mini-nav {
    display: flex;
    width: 100%;
}

.mini-nav ul li {
    list-style: none;
}

.mini-nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.icon-mini a {
    display: flex;
    padding: 4px 10px;
    color: white;
    font-size: 10px;
    background-color: rgb(243, 73, 73);
    border-radius: 14px;
}


.nav-item {
    list-style: none;
}

.nav-link {
    color: rgb(255, 204, 0);
    font-weight: bold;
}

.nav-sec {
    color: yellow;
    transition: .3 linear;
    text-decoration: none;
    font-weight: 500;
}

.nav-sec:hover {
    transition: .3 linear;
    border-bottom: 1px solid yellow;
}



.first-coro {
    position: absolute;
    width: 100px;
    bottom: 50px;
    left: 47%;
}

.first-coro i {
    padding: 10px 10px;
    background-color: rgb(190, 28, 28);
    color: white;
}



.scoro {
    width: 30px;
    height: 30px;
    border: 3px solid maroon;
    border-radius: 50%;
}



.small-card {
    width: 70%;
    height: 100%;
    /* border: 4px solid red; */
    transform: translateX(340px);
    position: fixed;
    z-index: 1111111;
    top: 0;
    right: 0;
    background-color: white;
}

.small-card li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 60px;
    transition: .3s linear;
    border-bottom: 1px solid maroon;
}

.small-card li:hover {
    background-color: rgba(128, 128, 128, 0.2);
    transition: .3s linear;
}

.small-card li a {
    text-decoration: none;
    font-weight: bold;
    color: maroon;
    margin-left: 30px;
}

.i-scr {
    width: 19px;
}

.i-scr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-icon img {
    width: 20px;
}

.menu-icon i {
    color: rgb(255, 208, 0);
    font-weight: bold;
    font-size: 20px;
}

.small-nav {
    height: 70px;
}

.menu-icon span {
    width: 65px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid rgba(255, 255, 255, 0.571);
    border-right: 1px solid rgba(255, 255, 255, 0.571);
}

.menu-icon p {
    font-size: 10px;
    color: white;
    font-weight: bold;
}

/* From Uiverse.io by LightAndy1 */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 226, 183, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.btn img {
    width: 30px;
}




.nav-trd {
    color: maroon;
    text-decoration: none;
    font-weight: bold;
    z-index: 111111;
    cursor: pointer;
}

.nav-trd:hover {
    transition: .3 linear;
    border-bottom: 1px solid maroon;
}


.ttxls p {
    padding: 8px 10px;
    font-size: 14px;
    background-color: black;
    color: white;
}

.ttxls p:nth-child(2) {
    padding: 8px 10px;
    font-size: 14px;
    background-color: maroon;
    color: white;
}

.nn-box h1 {
    font-size: 25px;
    font-weight: bold;
}

.i-box-fast {
    width: 50px;
    height: 100%;
    background-color: rgb(243, 239, 239);
}

.i-box-fast img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.hhbox h1 {
    font-size: 16px;
    font-weight: bold;
}

.hhbox span {
    width: 340px;
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 213, 0);
}



.mini-box {
    width: 130px;
    height: 120px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.mini-img {
    width: 100%;
    height: 77px;
    /* border: 4px solid red; */
}

.mini-img img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.mini-box h1 {
    font-size: 13px;
}


.list-box {
    /* border: 4px solid rebeccapurple; */
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 11111 !important;
}

.hov-list {
    height: 0px !important;
    top: -80px !important;
    left: -134% !important;
    overflow-y: auto !important;
    z-index: -1111111111 !important;
    /* border: 4px solid red; */
}

.list-icon {
    flex-wrap: wrap;
    transform: translate(400px);
    transition: .4s ease-in-out;
}

.data-list:hover .hov-list .list-icon {
    transform: translate(0px);
    transition: 1s ease-in-out;
}

.data-list:hover .hov-list {
    left: -304px;
    height: 400px !important;
    /* transition: 3s ease-in-out; */
}


.data-list h2 {
    font-size: 20px;
}

.i-box-fast {
    background-color: rgb(100, 50, 32);
}


/*  hov-list  */



.hov-list-2 {
    height: 0px !important;
    top: -80px !important;
    left: -0 !important;
    overflow-y: auto !important;
    z-index: -1111111111111 !important;
    /* border: 4px solid red; */
    opacity: 1;
}

.list-icon-2 {
    flex-wrap: wrap;
    transform: translate(700px);
    transition: .4s ease-in-out;
}

.data-list:hover .hov-list-2 .list-icon-2 {
    transform: translate(0px);
    transition: 1s ease-in-out;
}

.data-list:hover .hov-list-2 {
    left: -189% !important;
    height: 300px !important;
    opacity: 1;
    /* transition: 3s ease-in-out; */
}

/*  hov-list-3  */

.hov-list-3 {
    height: 0px !important;
    top: -80px !important;
    left: 0% !important;
    overflow-y: auto !important;
    z-index: -1111111111111 !important;
    /* border: 4px solid red; */
    opacity: 1;
}

.list-icon-3 {
    flex-wrap: wrap;
    transform: translate(700px);
    transition: .4s ease-in-out;
}

.data-list:hover .hov-list-3 .list-icon-3 {
    transform: translate(0px);
    transition: 1s ease-in-out;
}

.data-list:hover .hov-list-3 {
    left: -190% !important;
    height: 160px !important;
    opacity: 1;
    /* transition: 3s ease-in-out; */
}



/*  hov-list-4 */

.hov-list-4 {
    height: 0px !important;
    top: -80px !important;
    left: -0% !important;
    overflow-y: auto !important;
    z-index: -1111111111111 !important;
    /* border: 4px solid red; */
    opacity: 1;
}

.list-icon-4 {
    flex-wrap: wrap;
    transform: translate(700px);
    transition: .4s ease-in-out;
}

.data-list:hover .hov-list-4 .list-icon-4 {
    transform: translate(0px);
    transition: 1s ease-in-out;
}

.data-list:hover .hov-list-4 {
    left: -198% !important;
    height: 160px !important;
    opacity: 1;
    /* transition: 3s ease-in-out; */
}

/*  hov-list-5 */

.hov-list-5 {
    width: 10px !important;
    height: 0px !important;
    top: -80px !important;
    left: 0 !important;
    overflow-y: auto !important;
    overflow-x: hidden;
    z-index: -1111111111111 !important;
    /* border: 4px solid red;   */
    opacity: 1;
}

.list-icon-5 {
    flex-wrap: wrap;
    transform: translate(700px);
    transition: .4s ease-in-out;
}

.data-list:hover .hov-list-5 .list-icon-5 {
    transform: translate(0px);
    transition: 1s ease-in-out;
}

.data-list:hover .hov-list-5 {
    width: auto !important;
    left: -183% !important;
    height: 160px !important;
    opacity: 1;
    /* transition: 3s ease-in-out; */
}


/*  hov-list-5 */

.hov-list-6 {
    width: 5px !important;
    /* height: 160px !important; */
    height: 0px !important;
    top: -80px !important;
    left: -100px !important;
    overflow-y: auto !important;
    z-index: -1111111111111 !important;
    /* border: 4px solid red; */
    opacity: 1;
}

.list-icon-6 {
    flex-wrap: wrap;
    transform: translate(700px);
    transition: .4s ease-in-out;
}

.data-list:hover .hov-list-6 .list-icon-6 {
    transform: translate(0px);
    transition: 1s ease-in-out;
}

.data-list:hover .hov-list-6 {
    width: auto !important;
    left: -488px !important;
    height: 160px !important;
    opacity: 1;
    /* transition: 3s ease-in-out; */
}

.ipuu {
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    border: none;
}


.sec-tx h1 {
    font-weight: bold;
    color: rgb(255, 191, 0);
}

.sec-tx p {
    font-weight: bold;
    color: white;
}

.sec-tx p2 {
    color: white;
    font-weight: 300;
}




.sec-iin {
    position: relative;
    background-color: rgb(255, 196, 0);
    overflow: hidden;
    height: 500px;
    border-radius: 30px;
}

.sec-iin form {
    width: 75%;
}

.pgirl {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 500px;
    height: 100%;
    margin-right: -60px;
}

.sec-iin h1 {
    font-weight: bold;

}

.sec-bbt {
    padding: 10px 30px;
    background-color: maroon;
    color: white;
    border-radius: 20px;
    transition: .3s ease-in;
    font-weight: bolder;
    border: none;
}

.sec-bbt:hover {
    transform: scale(1.2);
    transition: .3s ease-in;
}

.up-more {
    width: 100%;
    height: 80%;
}




.container-three .row {
    display: flex;
}





.third-card {
    height: 370px;
    transition: .4s linear;
    border-radius: 20px;
    overflow: hidden;
}

.third-card:hover {
    background-color: rgba(241, 157, 11, 0.727);
    transition: .4s linear;
}

.third-card span {
    padding: 5px 10px;
    margin-top: -20px;
    margin-left: 17px;
    border-radius: 10px;
    color: maroon;
    font-weight: bold;
    background-color: rgb(255, 183, 0);
    transition: .4s linear;
}

.third-card:hover span {
    color: white;
    background-color: maroon;
    transition: .4s linear;
}

.data button {
    background: none;
    color: maroon;
    font-weight: bolder;
    border: none;
}



.four-card {
    height: 420px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.tp2 {
    font-size: 20px;
    color: maroon;
    font-weight: bold;
}

.four-card:hover .tp2 {
    color: white;
}

.tp1 {
    color: rgb(247, 230, 50);
    font-weight: bold;
    font-size: 20px;
}

.f-data p {
    color: white;
    font-size: 13px;
}

.tpp {
    color: black !important;
    font-size: 13px;
}

.four-card:hover .tpp {
    color: white !important;
}

.four-card button {
    padding: 10px 12px;
    background-color: rgba(215, 225, 18, 0.845);
    position: absolute;
    bottom: -50px;
    color: maroon;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    transition: .3s linear;
}

.four-card:hover button {
    bottom: 12px;
    transition: .3s linear;
}



.ff-left {
    background-image: url('p-imgs/v-kyc-img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}

.circal {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    position: absolute;
    left: 18%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    animation-name: circal;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes circal {
    0% {
        transform: scale(none);
    }

    100% {
        transform: scale(1.1);
        transition: 4s linear;
    }
}

.circal h1 {
    font-size: 28px;
    font-weight: bold;
    color: maroon;
}

.ff-btn {
    padding: 10px 10px;
    background-color: white;
    color: maroon;
    border-radius: 10px;
    font-weight: bold;
    border: none;

}

.ff-btn:hover {
    color: white;
    background-color: maroon;
    transition: .4s linear;
}

.ff-ttx {
    font-weight: bold;
    color: white;
}

.ff-ttp {
    color: white;
}

.ss-box {
    width: 460px;
    background: rgb(162, 140, 10);
    background: linear-gradient(180deg, rgba(162, 140, 10, 0.6134103299522935) 0%, rgba(203, 26, 82, 1) 15%, rgba(177, 4, 55, 1) 94%);
}

.ss-box span {
    width: 190px;
}

.ss-box h1 {
    font-size: 21px;
    font-weight: bold;
    color: rgb(255, 166, 0);
}

.ss-box p {
    font-size: 14px;
    font-weight: bold;
    color: white;
}



.six-card {
    height: 420px;
    transition: .4s linear;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.six-card:hover {
    background-color: maroon;
    transition: .4s linear;
    color: white;
}

.six-card span {
    padding: 5px 10px;
    margin-top: -20px;
    margin-left: 17px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: maroon;
    transition: .4s linear;
}

.six-card:hover span {
    transition: .4s linear;
    color: maroon;
    background-color: rgb(255, 183, 0);
}

.data-six button {
    background: none;
    color: maroon;
    font-weight: bolder;
    border: none;
}

.six-card:hover button {
    color: rgb(255, 183, 0);
}

.sttx {
    font-size: 26px;
}

.six-bbt {
    padding: 10px 20px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

.iconsev {
    width: 130px;
    transition: .3s linear;
}

.iconsev:hover {
    transform: scale(1.1);
    transition: .3s linear;
}

.sevcard-one p {
    padding: 10px 23px;
    background-color: rgb(255, 196, 0);
    border-radius: 12px;
    font-weight: bold;
    color: maroon;
}

.sevcard-one h1 {
    font-weight: bold;
    color: rgb(255, 196, 0);
}

.sev-end h1 {
    font-weight: bold;
    color: rgb(255, 187, 0);
}

.sev-end button {
    background-color: rgb(255, 187, 0);
    color: maroon;
    padding: 10px 13px;
    font-weight: bold;
    border: none;
    border-radius: 16px;
}

.scv {
    width: 100px;
    height: 100px;
    transition: .3s linear;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid yellow;
}

.scv:hover {
    transform: scale(1.1);
    transition: .3s linear;
}



.sevsmall-card {
    display: flex;
}

.footer-fast {
    width: 100%;
    display: flex;
}

.footer-fast ul {
    width: 100%;
    display: flex;
    align-content: center;
}

.footer-fast ul p {
    color: maroon;
    font-weight: bold;
    font-size: 20px;
}

.footer-fast ul li {
    list-style: none;
}

.footer-fast ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-fast ul li a:hover {
    text-decoration: underline;
}

/*  2  */
.footer-two {
    background-color: rgb(255, 213, 0);
}

.footer-two ul {
    width: 100%;
    /* border: 3px solid red; */
}

.footer-two ul li {
    list-style: none;
}

.footer-two ul li a {
    color: maroon;
    text-decoration: none;
    font-weight: bold;
}

.footer-two ul li a:hover {
    text-decoration: underline;
}

.foter-card h1 {
    font-size: 20px;
    font-weight: bold;
    color: maroon;
}

.foter-card a {
    font-size: 13px;
    color: black;
    text-decoration: none;
    transition: .3s linear;
}

.foter-card a:hover {
    margin-left: 10px;
    transition: .3s linear;
}


.end a {
    font-size: 13px;
    color: black;
    text-decoration: none;
    margin-top: 20px;
}



.pxlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pxlex a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.five-right {
    height: 73vh;
}

.five-left {
    height: 70vh;
}

